main section {
    width:100%;
    margin-bottom:4px;
}
header.centerbox {
    float:none;
    width:auto;
}

/* 3 column layout */
.columns { display:flex }
.columns > .column:nth-child(2) {
    flex:2 1 auto;
    min-width:300px;
}
.column:first-child {
    width:375px;
    min-width:375px;
}
.column:last-child {
    width:425px;
    min-width:425px;
}
.panel {
    margin-right:4px;
    background-color:white;
    border-radius:5px;
}

/* Result Options panel */
fieldset > legend { font-weight:bold }
.panel fieldset input,
.panel fieldset select {
    float:left;
    clear:left;
    margin:0 5px 5px 0;
}
.panel fieldset label {
    float:left;
    margin-bottom:5px;
}
.panel fieldset ul {
    float:left;
    clear:both;
    padding-left:20px;
}
.panel fieldset.result input[type=range] {
    margin-bottom:10px;
}
.panel fieldset.result * {
    float:none;
    clear:none;
}
.panel #VolumeRangeId {
    margin-top:3px;
    width:200px;
}
.panel #VolumeId {
    width:50px;
    clear:none;
}

#SynthId.disabled * {
    color:#777;
    user-select:none;
}
#SynthId .group {
    float:left;
    vertical-align:top;
    clear:none;
}
#SynthId p.group {
    display:block;;
    float:left;
    width:175px;
}

button#RescanId { float:left; }
input#VolumeId { width:200px; }
input#PolyphonyId { width:3em; }

#MidiInputGroup {
    clear:left;
    margin-top:12px;
}
#MidiInputGroup #MidiInputDeviceId {
    clear:left;
    width:100%;
}

/* piano rolls */
.piano span, .piano tr {
    color:#000;
    background-color:#555;
}
.piano span {
    box-sizing:border-box;
    border:1px solid;
    border-color:#ccc #333 #000 #ccc;
}
.piano span.white {
    color:#000;
    background-color:hsl(240deg,5%,60%);
    background-image:none;
}
.piano span.black {
    color:#fff;
    background-color:hsl(240deg,5%,50%);
    background-image:none;
}

.piano tr.paired-gradient td {
    color:inherit;
    background-color:inherit;
}

.piano tr.white.paired-flat,
.piano tr.white.paired-flat td,
.piano .key span.white.paired-flat {
    color:#000;
    background-color:#fff;
}
.piano tr.black.paired-flat,
.piano tr.black.paired-flat td,
.piano .key span.black.paired-flat {
    color:#fff;
    background-color:#000;
}

.piano td.key {
    width:120px;
    text-align:right;
}
.piano td.key span {
    display:inline-block;
    height:100%;
    width:100%;
    padding:0px 4px;
    border-radius:6px 0 0 6px;
    text-align:left;
}
#VPiano tr.hidden {
    visibility:collapse;
    height:1px;
    max-height:1px;
}
#VPiano tr.hidden td { text-align:right }
#VPiano tr.hidden span.black {
    visibility:visible;
    width:80px;
    height:24px;
    position:absolute; /* cannot be relative, must be absolute for Firefox */
    top:-14px;
    right:0;
    z-index:10;
    padding:0px 4px;
}
.piano th {
    border-bottom:1px solid black;
    border-right:1px solid black;
    background-color:#bbf;
}
.piano td {
    border:1px solid;
    border-color:#fff #aaa transparent #fff;
    background-color:#ccc;
}
.piano tr:hover td { border-color:red #aaa red #fff }
.piano span:hover {
    color:#000;
    background-color:hsl(235deg,40%,90%);
    border:1px solid red;
    background-image:none;
    filter:invert(75%);
}

#HPiano .piano span.key-on,
#VPiano .piano span.key-on {
    color:#000 !important;
    background-color:#9f9 !important;
    background-image:none !important;
    filter:none !important;
}
#HPiano .piano .key-off,
#VPiano .piano .key-off { }
#HPiano .piano .key-error,
#VPiano .piano .key-error {
    color:#000 !important;
    background-color:#f96 !important;
    background-image:none !important;
    filter:none !important;
}

span.ok { color:green; }
span.error {
    color:red;
    font-weight:bold;
    font-style:italic;
}

#HPiano, #VPiano {
    box-sizing:border-box;
    user-select:none;
}
#HPiano { padding-bottom:5px; }
#HPiano .piano {
    max-height:100px;
    margin-left:5px;
    overflow-y:hidden;
    white-space:nowrap;
    font-size:1em;
}
#HPiano .key {
    display:inline-block;
    position:relative;
    text-align:center;
}
#HPiano .key.white { vertical-align:bottom }
#HPiano .key.black { width:0 }
#HPiano span {
    display:inline-block;
    position:relative;
    border-radius:0 0 6px 6px;
}
#HPiano span.white {
    width:22px;
    height:80px;
    line-height:120px;
}
#HPiano span.black {
    width:20px;
    height:47px;
    top:-33px;
    left:-11px;
    z-index:10;
}

#VPiano .piano {
    width:100%;
    margin:2px;;
    padding:3px;
    border-spacing:0;
}
#VPiano td {
    position:relative;
    height:24px;
    line-height:20px;
    padding:0px;
    text-align:center;
    vertical-align:middle;
}
#VPiano sub { font-size:0.8em }
#VPiano span {
    vertical-align:top;
    line-height:20px;
}
