/* General tags */
body * {
    font-family:Tahoma,Verdana,sans-serif;
    font-size:10pt;
}
body {
    background-color:rgb(129,0,66);
    background-repeat:none;
    background-size:100% 3000px;
}

/*
h1 {
    box-sizing:border-box;
    background-color:#fff;
    clear:both;
}
h1 button {
    max-height:50%;
    margin-top:-3px;
    float:right;
}
*/

header > h1 {
    margin:4px 4px 4px 0;
    background-color:white;
    /*box-shadow:inset 0 0 8px 8px #aaa;
    background-image:linear-gradient(#000, #fff, #000);
    color:white;
    */
}

/*
header > h1  a {
    color:#eee;
}
*/

main section {
    width:100%;
    margin-bottom:4px;
}

/* piano roll */
/*
main > section:first-child > div {
    height:125px;
}
*/

/* 3 columns */
.columns {
    display:flex;
}
.columns > .column {
    /*width:calc(100%/3);*/
}
.columns > .column:nth-child(2) {
    flex:2 1 auto;
    min-width:300px;
}
.column:first-child {
    width:375px;
    min-width:375px;
}
.column:last-child {
    width:425px;
    min-width:425px;
}
.panel {
    margin-right:4px;
	background-color:white;
    border-radius:5px;
}
.rounded {
    border-radius:5px;
    padding:10px;
}

fieldset > legend {
	font-weight:bold;
}

div {
    border-color:1px solid red !important;
}
span {
    border-color:1px solid green !important;
}

#PianoRoll {
    box-sizing:border-box;
    user-select:none;
    padding-bottom:5px;
}
#PianoRoll .piano {
    max-height:100px;
    margin-left:5px;
    overflow-y:hidden;
    white-space:nowrap;
    font-size:1em;
}
#PianoRoll .piano > .key {
    display:inline-block;
    position:relative;
    text-align:center;
}
#PianoRoll .piano > .key.white { vertical-align:bottom; }
#PianoRoll .piano > .key.black { width:0; }
#PianoRoll .piano > .key > span {
    display:inline-block;
    position:relative;
    border-style:solid;
    border-width:0 1px 1px 1px;
    border-color:#aaa #333 #000 #777;
    border-radius:0 0 6px 6px;
}
#PianoRoll .piano > .key > span.white {
    width:22px;
    height:80px;
    line-height:120px;
    color:#555;
    background-color:#fff;
    background-image:linear-gradient(#bbf, #ffc);
}
#PianoRoll .piano > .key > span.black {
    width:20px;
    height:47px;
    top:-33px;
    left:-11px;
    color:#fff;
    background-color:#000;
    border-color:#aaa #555 #222 #aaa;
    background-image:linear-gradient(#335, #000);
    z-index:10;
}
#PianoRoll .piano > .key > span:hover {
    border-color:orange;
    background-color:#bbd;
    background-image:none;
}

#PianoTab .piano {
    width:100%;
    margin:2px;;
    padding:3px;
    border-collapse:collapse;
    border-spacing:0;
    user-select:none;
    background-image:linear-gradient(to left, #ccf, #aad);
}
#PianoTab .piano tr th {
    border-bottom:1px solid black;
    border-right:1px solid black;
    background-color:#bbf;
}
#PianoTab .piano tr td {
    position:relative;
    box-sizing:border-box;
    height:22px;
    line-height:20px;
    padding:0px;
    margin:0px;
    text-align:center;
    vertical-align:middle;
}
#PianoTab .piano tr td > span {
    vertical-align:top;
    line-height:20px;
}
#PianoTab .piano tr td:not(:first-child) {
    border-bottom:1px solid black;
    border-right:1px solid black;
}
#PianoTab .piano tr td:first-child {
    width:120px;
    text-align:right;
}
#PianoTab .piano tr td:first-child > span {
    display:inline-block;
    box-sizing:border-box;
    padding:0px 4px;
    border-style:solid;
    border-color:#aaa #555 #222 #aaa;
    border-width:0 1px 1px 1px;
    border-radius:6px 0 0 6px;
}
#PianoTab .piano tr.white td:first-child > span.white {
    height:100%;
    width:100%;
    color:#555;
    text-align:left;
    background-color:#fff;
    background-image:linear-gradient(to left, #bbf, #ffc);
}
#PianoTab .piano tr.white td:first-child > span.black,
#PianoTab .piano tr.black td:first-child > span.black {
    position:absolute;
    height:20px;
    top:12px;
    right:0;
    width:65%;
    color:#bbb;
    text-align:right;
    background-color:#000;
    background-image:linear-gradient(to left, #335, #000);
    z-index:10;
}
#PianoTab .piano tr:hover td {
    background-color:#ddf;
}
#PianoTab .piano td > span.white:hover,
#PianoTab .piano td > span.black:hover {
    border-color:orange;
    background-color:#bbd;
    background-image:none;
}
#PianoTab .piano td > span.black:hover { color:#000; }


/* miscellaneous */
.key-on {
    color:#000 !important;
    background-color:#9f9 !important;
    background-image:none !important;
}
.key-off { }
.key-error {
    color:#000 !important;
    background-color:#f96 !important;
    background-image:none !important;
}

span.ok { color:green; }
span.error {
    color:red;
    font-weight:bold;
    font-style:italic;
}
